/* Base CSS for all SteamVision pages */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #313942;
}

hr {
    border: 0 solid transparent;
    border-bottom: 1px solid #ccc;
}

.container {
    margin: auto;
    width: 70%;
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.bodycontainer {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
}

.badge {
    display: inline-block;
    font-size: 0.9em;
    padding: 2px 8px;
    border-radius: 8px;
}