{% extends "base.html" %}


{% block css %}
<style>
    .jumbotron {
        background-image: url('/static/img/mosaic.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .jumbotron h1 {
        color: floralwhite;
        text-shadow: 0 0 10px black;
    }
    .jumbotron p {
        color: floralwhite;
        text-shadow: 0 0 5px black;
    }
</style>
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <div class="container">
            <h1>Too many games?</h1>
            <p>Is your game library getting out of control? SteamVision can help.</p>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
