{% extends "base.html" %}


{% block css %}
<style>
jumbotron {
    background-image: url('/static/img/mosaic.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.jumbotron h1 {
    color: floralwhite;
    text-shadow: -15px 0 20px black, 15px 0 20px black, 0 -15px 20px black, 0 15px 20px black;
}
.form-inline {
    text-align: center;
}
.form-inline .form-control {
    width: 300px;
}
.instruction {
    padding-top: 20px;
}
</style>
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <div class="container">
            <h1>Too many games?</h1>
        </div>
    </div>

    <div class="container">
        <!-- Website summary -->
        <h2>SteamVision can help.</h2>
        <p>Over the years, your Steam account has filled up with games you played and loved. But maybe it's got some others
            too: gems you purchased on sale or in a bundle and never got around to playing. SteamVision lets you sort
            through them all and find the game that's just what you were looking for.</p>

        <!-- "Login" form and Steam ID instructions -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Enter your Steam ID to get started.</h3>

                <div class="well well-lg">
                    <form class="form-inline" action="{{ url_for('load') }}">
                        <div class="form-group">
                            <input name="id" type="text" class="form-control" placeholder="Steam ID">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <br>

                    <p class="lead">Don't know your Steam ID?</p>
                    <p>It's not necessarily the username you use to log in. Go to your Steam Community profile page and
                        copy either the entire URL (http://steamcommunity.com/id/[STEAMID]/) or just the ID part. It
                        will either be a string of numbers or whatever profile URL you've chosen. SteamVision also accepts
                        Steam IDs which look like "STEAM_0:1:23456789".</p>
                </div>
            </div>
        </div>
        <hr>

        <!-- Usage instructions -->
        <div class="row instruction">
            <div class="col-md-9">
                <h2>Filter your games by category</h2>
                <p class="lead">Feel like playing a platformer? Look at just the games Steam users have tagged as one by selecting that
                    category. You can also combine category filters: select Platformer and Local Multiplayer to see your
                    games which fit both of those categories, for example.</p>
            </div>
            <div class="col-md-3">
                <img src="/static/img/categories.png" class="img-rounded img-responsive" alt="Category filtering">
            </div>
        </div>
        <div class="row instruction">
            <div class="col-md-3">
                <img src="/static/img/sort.png" class="img-rounded img-responsive" alt="Sort buttons">
            </div>
            <div class="col-md-9">
                <h2>Sort games and categories</h2>
                <p class="lead">Want to see which categories are most popular with your games? Or which of your games are the highest
                    rated? You can sort your categories alphabetically and by the number of games they match. You can
                    sort your games alphabetically, by the year of their release, and by their overall user rating.</p>
            </div>
        </div>
        <div class="row instruction">
            <div class="col-md-9">
                <h2>Quickly search through games and categories</h2>
                <p class="lead">You probably have a lot of games, and those games will have a lot of categories. Start typing in one
                    of the search fields to find the one you're looking for.</p>
            </div>
            <div class="col-md-3">
                <img src="/static/img/search.png" class="img-rounded img-responsive" alt="Search box">
            </div>
        </div>

        <!-- FAQ section -->
        <div id="faq">
            <h1>FAQ</h1>
            <div class="well well-lg">
                <h3>How does it work?</h3>
                <p>SteamVision gets all its information from Steam. It uses the Steam API to get a list of your games and
                    scrapes user tags, user ratings, and release dates from the Steam Store to help you sort through them. It
                    doesn't access any information that's not publicly accessible, so if your Steam profile is set to private it
                    won't be able to read it. </p>

                <h3>Why do some of my games not have categories listed? And what are these categories called "(Age
                    Check)" and "(Missing)"?</h3>
                <p>Some games on the Steam store make you click on a button or confirm your age to view them. This
                    unfortunately means that SteamVision can't scrape categories or a release date from them. In
                    addition, some games on your account may have been removed from the store or just plain not have a
                    page (such as for betas of games.)</p>
                <p>For these games, SteamVision assigns them the categories "(Age Check)" or "(Missing)" and shows you
                    as much information as it has.</p>

                <h3>Why do some of my games have categories that don't seem to fit?</h3>
                <p>Because SteamVision takes its category information from user-submitted tags on Steam, some categories
                    can show up accidentally. Once users flag the category as inappropriate on Steam and it's removed
                    there it will be removed from SteamVision too (with a bit of a delay, as SteamVision saves a cache
                    of information it recently scraped from Steam.)</p>

                <h3>I have another question.</h3>
                <p>Feel free to email me at <a href="mailto:steam.vision.dev@gmail.com">steam.vision.dev@gmail.com</a>
                    with questions and comments!</p>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
