{% extends "base.html" %}


{% block title %}: Library View{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Categories</h2>
                <hr>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search categories" id="category-search">
                    </div>
                </form>
                <div class="sort" align="right">
                    <button type="button" class="btn btn-warning pull-left" id="reset-button">Reset</button>
                    Sort by:
                    <div class="btn-group" role="group" aria-label="category-sort">
                        <button type="button" class="btn btn-default sv-sort-alpha-asc" title="Alphabetical (Ascending)">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-alpha-desc" title="Alphabetical (Descending)">
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-count-asc" title="By Count (Ascending)">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-count-desc" title="By Count (Descending)">
                            <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                        </button>
                    </div>
                </div>
                <br>
                <div class="list-group" id="categories">
                    <!-- Categories should go here -->
                </div>
            </div>

            <div class="col-md-8">
                <h2>Games</h2>
                <hr>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search games" id="game-search">
                    </div>
                </form>
                <div class="sort" align="right">
                    Sort by:
                    <div class="btn-group" role="group" aria-label="game-sort">
                        <button type="button" class="btn btn-default sv-sort-alpha-asc" title="Alphabetical (Ascending)">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-alpha-desc" title="Alphabetical (Descending)">
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-year-asc" title="By Release Year (Ascending)">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-year-desc" title="By Release Year (Descending)">
                            <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-rating-asc" title="By Rating (Ascending)">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-rating-desc" title="By Rating (Descending)">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </div>
                </div>
                <br>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- Games should go here -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <!-- Render page from sessionStorage data -->
    <script src="/static/js/renderlibrary.js"></script>

    <!-- Categories and games list search filter functions -->
    <script src="/static/js/searchlists.js"></script>

    <!-- Filter games -->
    <script src="/static/js/filters.js"></script>

    <!-- Sort categories and games -->
    <script src="/static/js/sortlists.js"></script>
{% endblock %}
