{% extends "base.html" %}


{% block title %}: Library View{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Categories</h2>
                <hr>
                <form>
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Search categories" id="category-search">
                    </div>
                </form>
                <br>
                <div class="sort">
                    <p>Sort by: </p>
                    <div class="btn-group" role="group" aria-label="category-sort">
                        <button type="button" class="btn btn-default sv-sort-alpha-asc" title="Alphabetical (Ascending)">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-alpha-desc" title="Alphabetical (Descending)">
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-count-asc" title="By Count (Ascending)">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-count-desc" title="By Count (Descending)">
                            <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                        </button>
                    </div>
                </div>
                <div class="list-group" id="categories">
                    <!-- Categories should go here -->
                </div>
            </div>

            <div class="col-md-8">
                <h2>Games</h2>
                <hr>
                <form>
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Search games" id="game-search">
                    </div>
                </form>
                <br><div class="sort">
                    <p>Sort by: </p>
                    <div class="btn-group" role="group" aria-label="game-sort">
                        <button type="button" class="btn btn-default sv-sort-alpha-asc" title="Alphabetical (Ascending)">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                        <button type="button" class="btn btn-default sv-sort-alpha-desc" title="Alphabetical (Descending)">
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </button>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- Games should go here -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <!-- Render page from sessionStorage data -->
    <script src="/static/renderlibrary.js"></script>

    <!-- Categories and games list search filter functions -->
    <script src="/static/searchlists.js"></script>

    <!-- Filter games -->
    <script src="/static/filters.js"></script>

    <!-- Consider http://tablesorter.com/docs/ (It should be in the <head> though...) -->
{% endblock %}
