{% extends "base.html" %}


{% block title %}: Loading...{% endblock %}


{% block main %}
    <div class="container">
        <h1>Loading games...</h1>
        <p>If you have a lot of uncommon games, this can take a while.</p>

        <div class="well well-lg">
            <p id="game_name">Starting up...</p>
            <div class="progress">
                <div id="load_bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        // Define error functions
        function invalid_id() {
            var message = 'That user ID is invalid.';
            window.location = '{{ url_for("error") }}?e=' + message;
        }
        function private_id() {
            var message = 'That profile is private, so SteamView can\'t scan it.';
            window.location = '{{ url_for("error") }}?e=' + message;
        }

        $(document).ready(function () {
            // Check if user's profile is private
            var url = '{{ url_for("user_profile") }}?id={{ id }}';
            var profile = $.getJSON(url)
                .done(function() {
                    // Check whether "No Content" was returned and return error if it was
                    if (profile.status === 204) {
                        invalid_id()
                    }
                    profile = profile.responseJSON;

                    // If it's private, inform the user
                    if (profile.communityvisibilitystate !== 3) {
                        private_id();
                    }
                    // Otherwise, store the profile information
                    else {
                        sessionStorage.profile = JSON.stringify(profile)
                    }
                })
                // If the request failed, inform the user
                .fail(function() {
                    invalid_id()
                });

            // Create array to store categories
            var categories = [];

            // Get user games from server
            url = '{{ url_for("user_games") }}?id={{ id }}';
            var data = $.getJSON(url)
                .done(function() {
                    // Check whether "No Content" was returned and return error if it was
                    if (data.status === 204) {
                        invalid_id()
                    }
                    data = data.responseJSON;

                    // Store game count in browser's local storage
                    sessionStorage.game_count = data.game_count;

                    // Initialize counter variable and record total count
                    var i = 1;
                    var game_count = Number(data.game_count);

                    // Iterate through games, adding info to each
                    data.games.forEach(function(game) {
                        // Get extra game info from server
                        var game_url = '{{ url_for("game") }}?appid=' + game.appid;
                        var extra = $.getJSON(game_url, function() {})
                            .done(function() {
                                // Add the extra info to game's object
                                extra = extra.responseJSON;
                                game.categories = extra.categories;
                                game.description = extra.description;
                                game.ratings = extra.ratings;

                                // Add new categories to the categories list
                                extra.categories.forEach(function(category) {
                                    if (categories.indexOf(category) === -1) {
                                        categories.push(category)
                                    }
                                })
                            })
                            // Record failures to console
                            .fail(function() {
                                console.log('Failed to get info for appid:' + game.appid);
                            })
                            .always(function() {
                                // Update loading bar text and width
                                var percent = (i/game_count*100).toFixed();
                                $("#game_name").text(game.name + ' (' + i + '/' + game_count + ')');
                                var load_bar = $("#load_bar");
                                load_bar.css('width', percent + '%');
                                load_bar.attr("aria-valuenow", percent);

                                // Store games and categories in local storage if all are loaded in
                                if (i === game_count) {
                                    sessionStorage.games = JSON.stringify(data.games);
                                    sessionStorage.categories = JSON.stringify(categories.sort());
                                    console.log("Games Stored!")
                                }
                                // Increment game counter
                                i++;
                            });
                    });
                })
                // If for some reason getting user data fails, display the error page
                .fail(function() {
                    invalid_id()
                });
        });
    </script>
{% endblock %}
