{% extends "base.html" %}


{% block title %}: Loading...{% endblock %}


{% block main %}
    <div class="container">
        <h1>Loading games...</h1>
        <p>If you have a lot of uncommon games, this can take a while.</p>

        <div class="well well-lg">
            <p id="game_name">Starting up...</p>
            <div class="progress">
                <div id="load_bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            // Get user data from server
            var url = '{{ url_for("user") }}?id={{ id }}';
            var data = $.getJSON(url, function() {})
                .done(function() {
                    data = data.responseJSON;

                    // Store game count in browser's local storage
                    localStorage.game_count = data.game_count;

                    // Iterate through games, adding info to each
                    var i = 1;
                    data.games.forEach(function(game) {
                        var game_url = '{{ url_for("game") }}?appid=' + game.appid;
                        var extra = $.getJSON(game_url, function() {})
                            .done(function() {
                                // Update info
                                game.categories = extra.categories;
                                game.description = extra.description;
                                game.ratings = extra.ratings;
                            })
                            .always(function() {
                                // Update loading bar
                                var percent = (i/data.game_count*100).toFixed();
                                $("#game_name").text(game.name + ' (' + i + '/' + data.game_count + ')');
                                $("#load_bar").css('width', percent + '%');
                                $("#load_bar").attr("aria-valuenow", percent);
                                i++;
                            })
                    })
                    // Store games in local storage
                    localStorage.games = JSON.stringify(data.games);
                    if (i == data.game_count) {
                        console.log("Holy guacamole!");
                    }
                })
                .fail(function() {
                    console.log("Couldn't get user data.")
                    window.location = '{{ url_for("error") }}';
                })
        });
    </script>
{% endblock %}
