{% extends "base.html" %}


{% block title %}: Loading...{% endblock %}


{% block main %}
    <div class="container">
        <h1>Loading games...</h1>
        <p>If you have a lot of uncommon games, this can take a while.</p>

        <div class="well well-lg">
            <p id="game_name">Starting up...</p>
            <div class="progress">
                <div id="load_bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            // Get user data from server
            var url = '{{ url_for("user") }}?id={{ id }}';
            var data = $.getJSON(url, function() {})
                .done(function() {
                    data = data.responseJSON;

                    // Store game count in browser's local storage
                    localStorage.game_count = data.game_count;

                    // Initialize counter variable and record total count
                    var i = 1;
                    var game_count = Number(data.game_count);

                    // Iterate through games, adding info to each
                    data.games.forEach(function(game) {
                        // Get extra game info from server
                        var game_url = '{{ url_for("game") }}?appid=' + game.appid;
                        var extra = $.getJSON(game_url, function() {})
                            .done(function() {
                                // Add the extra info to game's object
                                extra = extra.responseJSON;
                                game.categories = extra.categories;
                                game.description = extra.description;
                                game.ratings = extra.ratings;
                            })
                            // Record failures to console
                            .fail(function() {
                                console.log('Failed to get info for appid:' + game.appid);
                            })
                            .always(function() {
                                // Update loading bar text and width
                                var percent = (i/game_count*100).toFixed();
                                $("#game_name").text(game.name + ' (' + i + '/' + game_count + ')');
                                var load_bar = $("#load_bar");
                                load_bar.css('width', percent + '%');
                                load_bar.attr("aria-valuenow", percent);

                                // Store games in local storage if all are loaded in
                                if (i == game_count) {
                                    localStorage.games = JSON.stringify(data.games);
                                    console.log("Games Stored!")
                                }
                                // Increment game counter
                                i++;
                            })
                    })
                })
                // If for some reason getting user data fails, display the error page
                .fail(function() {
                    console.log("Failed to get user data.");
                    window.location = '{{ url_for("error") }}';
                })
        });
    </script>
{% endblock %}
